.header {
  padding-top: 2em;
  padding-bottom: 1em;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(6px);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(255, 255, 255, 0.05);
}

header ul {
  margin: 0;
  margin-right: 50px;
  padding: 0;
  list-style: none;
}

@media only screen and (max-width: 500px) {
  header h1.logo {
    display: block;
    margin: 0;
  }
  header h1.logo img {
    width: 70px;
  }
  header nav ul .smallHide {
    display: none;
  }
  header nav ul {
    display: flex;
  }
  header nav li {
    display: inline;
  }
}

nav {
  margin-top: -4px;
  margin-left: 100px;
  padding: 5px;
  padding-top: 0;
  text-align: center;
  font-family: Raleway;
}

.link-1 {
  transition: 0.3s ease;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  /* border-top: 4px solid #ff0266; */
  /* border-bottom: 4px solid #ff0266; */
  padding: 20px 0;
  margin: 0 20px;
}
.link-1:hover {
  /* border-top: 4px solid #ffffff; */
  border-bottom: 4px solid whitesmoke;
  color: #03dac6;
  transform: translate3d(0, -10px, 22px);
  /* padding: 6px 0; */
}

.logo {
  /* margin: 0;
  margin-left: 50px;
  font-size: 1.45em; */
  position: fixed ; /* Position the logo */
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: auto;
}

.logo a img {
  transition: transform 0.7s ease-in-out;
}

.main-nav {
  margin-top: 5px;
}
.logo a {
  text-transform: uppercase;
  text-align: center;
  display: block;
  text-decoration: none;
}
.main-nav a {
  padding: 10px 35px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  text-decoration: none;
}

.main-nav a {
  color: rgb(204, 204, 204);
  font-size: larger;
  font-weight: bold;
  letter-spacing: 2px;
}

/* .main-nav a:hover {
  color: #ff0266;
} */

/* ================================= 
    Media Queries
  ==================================== */

@media (min-width: 350px) {
  .main {
    max-width: min-content;
  }
  /* .header h1 {
    top: 0;
    left: 0;
  } */
}

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  .header {
    /* flex-direction: row; */
    justify-content: space-between;
  }
}
